body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choices{
    margin-bottom: 50px;
}
.choices button{
    font-size: 7.5rem;
    background-color: hsl(234, 61%, 42%);
    border-radius: 500px;
    min-width: 12vw;
    height: 28vh;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin: 0 10px;
}
.choices button:hover{
    background-color: hsl(201, 76%, 48%);
}
#playerDisplay{
    font-size: 2rem;
    color: orangered;
}
#computerDisplay{
    color: lightgreen;
    font-size: 2rem;
    margin-top: 10px;
}
#resultDisplay{
    font-size: 3rem;
    margin-top: 30px;
}