body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
.container{
    width: 98%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
}
.links{
    padding: 10px;
    margin-top: 10px;
}
.links a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: red;
    transition: width 0.5s ease; 
}


.links a:hover::after {
    width: 100%;
}


/*----Section 1 of the Page------*/


.section-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;   
    height: 100vh;
}
.left-column{
    height: 100%;
    width: 60%; 
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    font-size: 50px;
}
.left-column h2 span{
    color: tomato;
}
.right-column{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center ;
    margin-top: 30px;
    overflow: hidden;
}
.right-column img{
    animation: move 2s ease-in-out forwards;
    max-width: 100%;
    height: auto;
}
@keyframes move{
    0%{
        transform: translateX(100%) scale(1);
    }
    100%{
        transform: translateX(-60px) scale(1.5);
    }
}

@media (max-width: 768px) {
    .section-1 {
        flex-direction: column;
    }

    .left-column {
        width: 100%;
        font-size: 30px;
        margin-top: 50px;
    }

    .right-column {
        width: 100%;
        margin-top: 20px;
    }

    .right-column img {
        max-width: 90%;
        height: auto;
        transform: scale(1);
    }
}

/*---This is Section 2 of the WebPage*/
.section-2{ 
    height: 100vh;
    width: 100vw;
    position: relative; 
    margin-top: 10px;
}
.aboutMe{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}
.aboutMe h1{
    text-align: center;
    border-bottom: 2px solid red;
}
.aboutMe p{
    font-size: 1em;
    color: rgba(202, 202, 202, 0.832);
}
.tabs{
    display: flex;
    gap: 20px;
    justify-content: center;
    color: white;
}
.tab {
    margin: 0px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    text-align: center;
}
.tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease;
}

.tab:hover::after {
    width: 100%;
}
.tab.active::after {
    width: 100%;
    transition: none; 
}
.content{
    width: 20vw;
    transform: translateX(620px);
    display: none;
    position: relative;
    text-align: left;
    margin: 4px;
    padding: 0 20px;
}
.content h5{
    color: rgb(241, 54, 54);
    font-size: 1em;
}
.content p{
    color: rgba(202, 202, 202, 0.832);
}
.image img{
    width: 200px;
}